@using GF.Web.Models
@using GF.Web.Infrastructure

@model HistoryDetailViewModel

@{
    ViewBag.Title = "History Detail Report";
}

<h2 class="report">History Detail Report</h2>

<div class="panel criteria-panel">
    <h3 class="report">Report Criteria</h3>
    <div class="two-column-layout panel">
        <div class="column">
            <div class="row">
                @Html.LabelFor(m => m.Criteria.MaterialNumber, "Material Number:")
                <div class="input">
                    @Html.TextBoxFor(m => m.Criteria.MaterialNumber)
                    @Html.ActionImage("Help", "Home", null,"~/Images/help.png", "Help")
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Criteria.CustomerPartNumber, "Customer Part Number:")
                <div class="input">
                    @Html.TextBoxFor(m => m.Criteria.CustomerPartNumber)
                    @Html.ActionImage("Help", "Home", null,"~/Images/help.png", "Help")
                </div>
            </div>
        </div>
        <div class="column">
            <div class="row">
                @Html.LabelFor(m => m.Criteria.RollNumber, "Roll Number:")
                <div class="input">
                    @Html.TextBoxFor(m => m.Criteria.RollNumber)
                    @Html.ActionImage("Help", "Home", null,"~/Images/help.png", "Help")
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Criteria.CustomerPONumber, "Customer PO Number:")
                <div class="input">
                    @Html.TextBoxFor(m => m.Criteria.CustomerPONumber)
                    @Html.ActionImage("Help", "Home", null,"~/Images/help.png", "Help")
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="order-status horizontal-layout clear-fix">
            <div class="layout-item">
                @Html.LabelFor(m => m.Criteria.OrderStatus, "Ordered:")
                @Html.RadioButtonFor(m => m.Criteria.OrderStatus, "ordered")
            </div>
            <div class="layout-item">
                @Html.LabelFor(m => m.Criteria.OrderStatus, "Shipped:")
                @Html.RadioButtonFor(m => m.Criteria.OrderStatus, "shipped")
            </div>
            <div class="layout-item">
                @Html.LabelFor(m => m.Criteria.OrderStatus, "Received:")
                @Html.RadioButtonFor(m => m.Criteria.OrderStatus, "received")
            </div>
            <div class="layout-item">
                @Html.LabelFor(m => m.Criteria.OrderStatus, "Used:")
                @Html.RadioButtonFor(m => m.Criteria.OrderStatus, "used")
            </div>
            <div class="layout-item">
                @Html.LabelFor(m => m.Criteria.OrderStatus, "Last Physical Inventory")
                @Html.RadioButtonFor(m => m.Criteria.OrderStatus, "lastPhysicalInventory")
            </div>
        </div>
        
        <div class="date-range-container">
            <div class="date-range-slider"></div>
            <div class="button-container horizontal-layout clear-fix">
                <input type="button" class="small-button" value="2011" />
                <input type="button" class="small-button" value="2012" />
                <input type="button" class="small-button" value="Nov 2012" />
                <input type="button" class="small-button" value="Dec 2012" />
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <h3 class="report">Results</h3>
    <table id="orderHistory">
        <thead>
            <tr>
                @foreach(var item in Model.Columns){
                    <th>@item.DisplayName</th>
                } 
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
    <div class="table-options">
        @Html.ActionImage("ExportToExcel", "Home", null,"~/Images/excel.png", "Export To Excel")
        @Html.ActionImage("ExportToCSV", "Home", null,"~/Images/csv.png", "Export To CSV")
        @Html.ActionImage("ExportToXML", "Home", null,"~/Images/xml.png", "Export To XML")
        @Html.ActionImage("ExportToPDF", "Home", null,"~/Images/pdf.png", "Export To PDF")
        @Html.ActionImage("Print", "Home", null,"~/Images/print.png", "Print")
    </div>
    <br /><br /><br />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var today = new Date().resetTime();
        var lastMonth = today.clone().add('M', -1);
        var lastYear = today.clone().add('y', -1);
        $('.date-range-slider').dateRangeSlider({
            step:{ days: 1 },
            bounds: {
                min: lastYear,
                max: today
            },
            defaultValues:{
                min: lastMonth,
                max: today
            },
            formatter:function(val){
                var days = val.getDate(),
                  month = val.getMonth() + 1,
                  year = val.getYear() + 1900;
                return month + "/" + days + "/" + year;
            }
        }).bind("valuesChanged", function (e, data) {
            console.log(data);
        });


        //http://www.datatables.net
        var loadCookie = function () {
            var cookie = $.secureEvalJSON($.cookie('historyDetails'));
            if (cookie !== null) {
                console.log(cookie);
                $('[name = "Criteria.MaterialNumber"]').val(cookie.materialNumber);
                $('[name = "Criteria.RollNumber"]').val(cookie.rollNumber);
                $('[name = "Criteria.CustomerPartNumber"]').val(cookie.customerPartNumber);
                $('[name = "Criteria.CustomerPONumber"]').val(cookie.customerPONumber);
            }
        }
        loadCookie();
        var viewKey = '@Model.ViewKey';
        var oTables; 
        oTables = $('#orderHistory').dataTable({
            "sDom": 'C<"clear">lfrtip',
            "sPaginationType": "full_numbers",
            "aoColumnDefs": [
                 { "bVisible": false, "aTargets": [@Model.Cols] }
            ],
            "bAutoWidth": false,
            "aoColumns": [
                 { "sWidth": "50px" },
                 { "sWidth": "50px" },
                 { "sWidth": "50px" },
                 { "sWidth": "50px" },
                 { "sWidth": "20px" },
                 { "sWidth": "20px" },
                 { "sWidth": "40px" },
                 { "sWidth": "40px" },
                 { "sWidth": "40px" },
                 { "sWidth": "40px" },
                 { "sWidth": "40px" },
                 { "sWidth": "40px" }
            ],
            "bProcessing": true,
            "bServerSide": true,
            "bStateSave": true,
            "bFilter": false,
            "sAjaxSource": '@Url.Content("~/Home/GetOrderRollHistory")',
            "oColVis": { "buttonText": '+/- Columns' },
            "fnServerData": function (url, data, callback, oSettings) {
                var colvis = ' ';
                for (var i = 0; i < oSettings.aoColumns.length; i++) {
                    if (!oSettings.aoColumns[i].bVisible) {
                        colvis += i + ',';
                    }
                }
                var criteria = {
                    materialNumber: $('[name="Criteria.MaterialNumber"]').val(),
                    rollNumber: $('[name="Criteria.RollNumber"]').val(),
                    customerPartNumber: $('[name="Criteria.CustomerPartNumber"]').val(),
                    customerPONumber: $('[name="Criteria.CustomerPONumber"]').val()
                };
                data.push({ name: 'sKey', value: viewKey },
               { name: 'sColVis', value: colvis });

                $.each(criteria, function (name, value) {
                    data.push({ name: name, value: value });
                });

                $.cookie('historyDetails', $.toJSON(criteria));

                $.ajax({
                    "url": url,
                    "data": data,
                    "success": function (response, status) {
                        console.log(response.criteria);
                        callback(response.dataTable);
                    },
                    "contentType": "application/x-www-form-urlencoded; charset=utf-8",
                    "dataType": "json",
                    "type": "POST",
                    "cache": false,
                    "error": function () {
                        alert("DataTables warning: JSON data from server failed to load or be parsed. " +
                        "This is most likely to be caused by a JSON formatting error.");
                    }
                });
            }
        });
        
        var oColVis = new ColVis(oTables.fnSettings());
        $('.ColVis_Button').addClass('small-button');
    });
    
    
</script>

