@using GF.Web.Models
@model HistoryDetailViewModel

@{
    ViewBag.Title = "History Detail Server Side";
}

<h2>Order History (Server-side)</h2>

<div id="dynamic">

    <div id="criteria">
        @Html.LabelFor(m => m.Criteria.MaterialNumber, "Material Number")
        @Html.TextBoxFor(m => m.Criteria.MaterialNumber)
        @Html.LabelFor(m => m.Criteria.RollNumber, "Roll Number")
        @Html.TextBoxFor(m => m.Criteria.RollNumber)
        @Html.LabelFor(m => m.Criteria.CustomerPartNumber, "Customer Part Number")
        @Html.TextBoxFor(m => m.Criteria.CustomerPartNumber)
        @Html.LabelFor(m => m.Criteria.CustomerPONumber, "Customer PO Number")
        @Html.TextBoxFor(m => m.Criteria.CustomerPONumber)
    </div>

    <div>@Model.ViewKey @Model.Cols</div>
    <table id="orderHistory" style="width:100%;">
        <thead>
            <tr>
                @foreach(var item in Model.Columns){
                    <th>@item.DisplayName</th>
                } 
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //http://www.datatables.net
        var loadCookie = function () {
            var cookie = $.secureEvalJSON($.cookie('historyDetails'));
            if (cookie !== null) {
                console.log(cookie);
                $('[name = "Criteria.MaterialNumber"]').val(cookie.materialNumber);
                $('[name = "Criteria.RollNumber"]').val(cookie.rollNumber);
                $('[name = "Criteria.CustomerPartNumber"]').val(cookie.customerPartNumber);
                $('[name = "Criteria.CustomerPONumber"]').val(cookie.customerPONumber);
            }
       }
       loadCookie();
       var viewKey = '@Model.ViewKey';
       var oTables; 
       oTables = $('#orderHistory').dataTable({
            "sDom": 'C<"clear">lfrtip',        
            "sPaginationType": "full_numbers",
            "aoColumnDefs": [
                 { "bVisible": false, "aTargets": [@Model.Cols] }
            ],
            "bProcessing": true, 
            "bServerSide": true,
            "bStateSave":true,
            "bFilter": false, 
            "sAjaxSource": '@Url.Content("~/Home/GetOrderRollHistory")',
           "fnServerData": function (url, data, callback, oSettings) {
               var colvis = ' ';
               for (var i = 0; i < oSettings.aoColumns.length; i++) {
                   if (!oSettings.aoColumns[i].bVisible) {
                       colvis += i + ',';
                   }
               }
               var criteria = {
                   materialNumber: $('[name="Criteria.MaterialNumber"]').val(),
                   rollNumber: $('[name="Criteria.RollNumber"]').val(),
                   customerPartNumber: $('[name="Criteria.CustomerPartNumber"]').val(),
                   customerPONumber: $('[name="Criteria.CustomerPONumber"]').val()
               };
               data.push({ name: 'sKey', value: viewKey },
              { name: 'sColVis', value: colvis });
               
               $.each(criteria, function(name, value){
                   data.push({ name: name, value: value });
               });

                 $.cookie('historyDetails', $.toJSON(criteria));

                $.ajax({
                    "url": url,
                    "data": data,
                    "success": function (response, status) {
                        console.log(response.criteria);
                        callback(response.dataTable);
                    },
                    "contentType": "application/x-www-form-urlencoded; charset=utf-8",
                    "dataType": "json",
                    "type": "POST",
                    "cache": false,
                    "error": function () {
                        alert("DataTables warning: JSON data from server failed to load or be parsed. " +
                        "This is most likely to be caused by a JSON formatting error.");
                    }
                });
            } 
        });
        var oColVis = new ColVis(oTables.fnSettings());
    });                    
</script>

