@using GF.Web.Infrastructure

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/font.css")
        @Styles.Render("~/Content/themes/base/jquery.dataTables.css")
        @Styles.Render("~/Content/themes/base/ColVis.css")
        @Styles.Render("~/Content/themes/base/TableTools.css")
        @Styles.Render("~/Content/themes/base/jQRangeSlider/glatfelter.css")
        @Styles.Render("~/Content/themes/base/jqplot/jquery.jqplot.min.css")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery") 
        @Scripts.Render("~/bundles/jqueryui") 
        <!-- RPH -- For some reason, this render bundle doesn't work. 
            So I am adding datatables stuff old school
          Scripts.Render("~/bundles/datatables")
         --> 
        @Scripts.Render("~/Scripts/jquery.json-2.4.min.js")
        @Scripts.Render("~/Scripts/jquery.cookie.js")
        @Scripts.Render("~/Scripts/jQDateRangeSlider-min.js")
        @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
        @Scripts.Render("~/Scripts/ColVis.min.js")
        @Scripts.Render("~/Scripts/TableTools.min.js") 
        @Scripts.Render("~/Scripts/ZeroClipboard.js")  
        @Scripts.Render("~/Scripts/jqplot/jquery.jqplot.min.js")
        @Scripts.Render("~/Scripts/jqplot/plugins/jqplot.pieRenderer.min.js")
        @Scripts.Render("~/Scripts/jqplot/plugins/jqplot.dateAxisRenderer.min.js")
        @Scripts.Render("~/Scripts/DateUtil.js")  
        
        
        
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="clear-fix">
                    <div class="float-left">
                        <p class="site-title">
                            @Html.ActionImage("Index", "Home", null, "~/Images/Glatfelter_Logo.gif", "Glatfelter")
                        </p>
                    </div>
                    <div class="float-right">
                        <section id="login">
                            <span class="username">@User.Identity.Name</span>
                        </section>
                    </div>
                </div>
                <nav>
                    <ul id="menu"> 
                        <li>@Html.ActionLink("History Detail", "HistoryDetailReport", "Home")</li>
                        <li>@Html.ActionLink("History Summary", "HistorySummaryReport", "Home")</li>
                        <li>@Html.ActionLink("Inventory Status", "InventoryStatusReport", "Home")</li>
                        <li>@Html.ActionLink("Inventory Aging", "InventoryAgingReport", "Home")</li>
                        <li>@Html.ActionLink("Auto-Replenishment", "AutoReplenishmentReport", "Home")</li>
                        <li>@Html.ActionLink("Help", "Help", "Home")</li>
                    </ul>
                </nav>                
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - SEI C</p>
                </div>
            </div>
        </footer>

      
        @RenderSection("scripts", required: false)
    </body>
</html>
